@font-face {
  font-family: 'DUBAI';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('src/assets/fonts/DUBAI-LIGHT.ttf') format('truetype');
}

@font-face {
  font-family: 'DUBAI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/DUBAI-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DUBAI';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('src/assets/fonts/DUBAI-MEDIUM.ttf') format('truetype');
}

@font-face {
  font-family: 'DUBAI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('src/assets/fonts/DUBAI-BOLD.ttf') format('truetype');
}

body {
  font-family: 'DUBAI', sans-serif;
  font-size: 16px;
  line-height: calc(20 / 16);
}
