@import 'src/styles/shared';
.company {
    background-image: url('src/assets/img/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 221px 0;
}



