@use 'src/styles/shared' as *;
@import 'src/styles/ui';

:root {
  --headerHeight: $headerInitialHeight;
  --scrollbarWidth: 17px;
}

html {
  @include scrollbar;
}

html, body, #app {
  @include flex($d: column);
}

body {
  color: white;
  background: white;
}

.container {
  @include container;
}

.main {
  padding-top: var(--headerHeight);
}

input, textarea {
  &.error {
    color: #e71c35;
    border-color: #e71c35;
  }

  &.success {
    color: mediumseagreen;
    border-color: mediumseagreen;
  }
}
