@use 'src/styles/shared' as *;

.container {
  position: relative;
  z-index: 1;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
  @include mediaTablet {
    font-size: 80px;
    max-width: 730px;
  }
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
  @include mediaTablet {
    font-size: 64px;
  }
}

.btn--outline {
  font-size: 16px;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 19px 29px;
  transition: 0.3s ease;
  border: 2px solid #7542dd;
  border-radius: 10px;

  &:hover {
    background: #7542dd;
  }
}

.btn--solid {
  font-size: 16px;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  transition: 0.3s ease;
  border: 2px solid #7542dd;
  border-radius: 20px;
  background: #7542dd;

  &:hover {
    background: transparent;
  }
}

.burger {
  display: block;
  width: 28px;
  height: 28px;
  background: url('src/assets/img/burger.svg') no-repeat center;
  @include mediaMobile {
    display: none;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__menu {
    display: none;
    @include mediaMobile {
      display: flex;
      flex-wrap: wrap;
    }
    @include mediaTablet {
      margin-left: auto;
    }

    a {
      font-size: 18px;
      line-height: 100%;
      display: block;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__logo {
    display: block;
    width: 98px;
    height: 30px;
  }

  &__btn {
    margin-right: 20px;
    margin-left: auto;
    padding: 14px 18px;
    @include mediaMobile {
      margin: 0;
    }
    @include mediaTablet {
      margin-left: 45px;
    }
  }
}

.scrolled {
  background: #03001b;
}
