@use 'src/styles/shared' as *;

.robotics {
  @include stylesBgContainer;
  padding: 72px 0;
  @include mediaDesktop {
    padding: 96px 0 184px;
  }

  &-title {
    @include sectionTitle;
    margin-bottom: 20px;

    br {
      @include mediaTablet {
        display: none;
      }
    }
  }

  &-description {
    @include sectionDescription;
  }

  &-main {
    @include mediaLaptop {
      @include flex($j: space-between);
    }
  }

  &-info {
    @include mediaLaptop {
      // @include flex;
      flex: 0 0 auto;
      max-width: 50%;
    }
    @include mediaDesktop {
      @include flex;
    }
  }

  &-sliders {
    flex: 0 0 auto;
  }

  &-advantages {
    @include flex(center);
    margin: 0 -20px 40px 0;
    @include mediaDesktop {
      display: block;
      margin: 0 80px -30px 0;
    }
  }

  &-advantage {
    @include card;
    margin-right: 20px;
    @include mediaDesktop {
      margin-bottom: 30px;
    }
  }

  &-advantages-alt {
    $offsetBottom: 50px;
    @include flex(center);
    overflow-x: auto;
    margin: 40px -20px ($offsetBottom * 0.5) 0;
    padding-bottom: $offsetBottom * 0.5;
    @include mediaLaptop {
      display: block;
      overflow: unset;
      margin: 0 0 -20px;
      padding: 0;
    }
    @include mediaDesktop {
      margin: 0 0 -30px;
    }
  }

  &-advantage-alt {
    @include flex(center);
    flex: 0 0 auto;
    width: 185px;
    height: 57px;
    margin-right: 20px;
    @include mediaLaptop {
      width: auto;
      height: auto;
      margin: 0 0 20px;
    }
    @include mediaDesktop {
      width: 318px;
      height: 100px;
      margin-bottom: 30px;
    }

    &-img {
      flex: 0 0 auto;
      width: 20px;
      height: 40px;
      margin-right: 15px;
    }
  }

  &-navigation {
    // overflow: hidden;
    min-width: 0;
    margin-bottom: 25px;
    @include mediaTablet {
      width: 440px;
    }

    &-button {
      @include flex(center, center);
      font-size: 18px;
      font-weight: 500;
      flex: 0 0 auto;
      width: 30%;
      height: 44px;
      transition: color 0.25s, background-color 0.25s, border-color 0.25s;
      border: 1px solid white;

      &:nth-child(3n+1) {
        border-radius: 10px 0 0 10px;
      }

      &:nth-child(3n+2) {
        width: 40%;
        border-radius: 0;
      }

      &:nth-child(3n+3) {
        border-radius: 0 10px 10px 0;
      }

      &.active {
        border-color: #7542dd;
        background: #7542dd;
      }
    }
  }

  &-products {
    min-width: 0;
    @include mediaTablet {
      width: 440px;
    }
  }

  &-product {
    @include flex($j: flex-end, $d: column);
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 280px;
    padding: 30px;
    border-radius: 20px;

    &-title {
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 15px;
    }

    &-description {
      font-size: 14px;
    }

    &-img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
