@use 'src/styles/shared' as *;

.distribution {
  padding: 155px 0;
  background: url('src/assets/img/distribution/screen5.png') no-repeat center;
  background-size: cover;
  @include mediaLaptop {
    padding: 139px 0;
    background: url('src/assets/img/distribution/screen5-1440.png') no-repeat center;
    background-size: cover;
  }

  &__container {
    overflow-x: auto;
    margin-top: 40px;
    margin-right: -20px;
    margin-bottom: 40px;
    @include mediaTablet {
      margin-right: 0;
    }
    @include mediaLaptop {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }

  &__container::-webkit-scrollbar {
    display: none;
  }

  &__items {
    position: relative;
    display: flex;
    width: 825px;
    @include mediaLaptop {
      width: 1200px;
    }
  }

  &__item {
    margin-right: 20px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 20px 20px 20px 0px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(22px);
    @include mediaLaptop {
      min-width: 380px;
      margin-right: 30px;
      padding: 40px 30px;
    }
  }

  &__heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
    color: #a6a7f7;
  }

  &__txt {
    font-size: 20px;
    line-height: 100%;
  }

  &__features {
    @include mediaLaptop {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__feature {
    font-size: 16px;
    line-height: 100%;
    position: relative;
    margin-bottom: 15px;
    padding-left: 28px;

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 14px;
      height: 12px;
      background: url('src/assets/img/distribution/tick.svg') no-repeat center;
      background-size: contain;
      @include mediaLaptop {
        top: 0;
        width: 21px;
        height: 20px;
        background-size: contain;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include mediaLaptop {
      font-size: 20px;
      width: 50%;
      margin-bottom: 25px;
      padding-left: 35px;
    }

  }
}



