@use 'src/styles/shared' as *;

.facts {
  padding: 143px 0;
  background: url('src/assets/img/screen3.png') no-repeat center;
  background-size: cover;
  @include mediaTablet {
    background: url('src/assets/img/screen3-1440.png') no-repeat center;
    background-size: cover;
  }
  @include mediaLaptop {
    padding: 153px 0;
  }

  &__container {
    overflow-x: auto;
    height: 400px;
    margin-top: 30px;
    margin-right: -20px;
    margin-left: -10px;
    padding-left: 10px;
    @include mediaTablet {
      margin-right: 0;
    }
  }

  &__container::-webkit-scrollbar {
    display: none;
  }

  &__line {
    position: relative;
    display: block;
    width: 1186px;
    height: 1px;
    margin-top: 199px;
    background: rgba(255, 255, 255, 0.5);
  }

  &__item {
    position: absolute;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 136px;
    }

    &:nth-child(3) {
      left: 286px;
    }

    &:nth-child(4) {
      left: 436px;
    }

    &:nth-child(5) {
      left: 586px;
    }

    &:nth-child(6) {
      left: 736px;
    }

    &:nth-child(7) {
      left: 886px;
    }

    &:nth-child(8) {
      left: 1036px;
    }
  }

  &__item.top {
    bottom: 0;
    padding-bottom: 57px;

    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: -7px;
      width: 14px;
      height: 14px;
      border: 3px solid #ffffff;
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 1px;
      height: 40px;
      background: url('src/assets/img/arr.png') no-repeat center;
    }
  }

  &__item.bottom {
    top: 0;
    padding-top: 57px;

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      left: -7px;
      width: 14px;
      height: 14px;
      border: 3px solid #ffffff;
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0px;
      width: 1px;
      height: 40px;
      transform: rotate(180deg);
      background: url('src/assets/img/arr.png') no-repeat center;
    }
  }

  &__year {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #a6a7f7;
  }

  &__txt {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    color: #ffffff;

    span {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__wrap {
    margin-top: 15px;
  }

}



