@import 'src/styles/variables';
@import 'src/styles/mixins/helpers';
@import 'src/styles/mixins/media';

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  @include mediaTablet {
    padding: 0 40px;
  }
  @include mediaLaptop {
    max-width: 1200px;
  }
  @include mediaDesktop {
    padding: 0;
    max-width: 1200px;
  }
}

@mixin scrollbar {
  @media (any-hover: hover) {
    &::-webkit-scrollbar {
      width: 10px
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: #505050;
      border: 3px solid white;
    }
  }
}

@mixin sectionTitle {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  @include mediaTablet {
  }
  @include mediaLaptop {
  }
  @include mediaDesktop {
    font-size: 64px;
  }
}
