@import 'src/styles/variables';
@import 'src/styles/mixins/helpers';
@import 'src/styles/mixins/media';

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  @include mediaTablet {
    padding: 0 40px;
  }
  @include mediaLaptop {
    max-width: 1200px;
  }
  @include mediaDesktop {
    padding: 0;
    max-width: 1200px;
  }
}

@mixin scrollbar {
  @media (any-hover: hover) {
    &::-webkit-scrollbar {
      width: 10px
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: #505050;
      border: 3px solid white;
    }
  }
}

@mixin sectionTitle {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  @include mediaTablet {
  }
  @include mediaLaptop {
  }
  @include mediaDesktop {
    font-size: 64px;
  }
}

@mixin stylesBgContainer {
  position: relative;
  z-index: 0;
  &-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-container {
    @include container;
    position: relative;
    z-index: 1;
  }
}

@mixin sectionDescription {
  font-size: 14px;
  line-height: calc(24 / 20);
  margin-bottom: 20px;
  @include mediaTablet {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

@mixin card {
  flex: 0 0 auto;
  height: 121px;
  width: 157px;
  padding: 20px;
  border: 1px solid rgba(white, 0.1);
  border-radius: 20px 20px 20px 0;
  background: #191432;
  @include mediaLaptop {
    width: 220px;
    height: 166px;
  }
  @include mediaDesktop {
    width: 277px;
  }

  &-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
    color: #a6a7f7;
    @include mediaDesktop {
      font-size: 56px;
      margin-bottom: 15px;
    }
  }

  &-description {
    font-size: 14px;
    @include mediaDesktop {
      font-size: 20px;
    }
  }
}
